*{
    margin: 0;
    padding: 0;
    
}
header{
    background-color: rgb(167, 167, 245);
    height: 70px;
}
header h1{
    text-align: center;
}
.nav a{
    text-decoration: none;
    color: rgb(14, 16, 18);
    
}
.nav{
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: beige;
    border-radius: 9px;
    padding: 5px;
}
.border{
    border: solid;
    width:180px;
    height: 370px;
}
.border p{
    border: solid;
    margin: 5px;
}
.lwalida{
    margin-left: 200px;
    margin-top: 20px;
    display: flex;
}
h3{
    margin-left: 9px;
}
.kolchi{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.img{
    background-image: url(imagecss/me.jpg);
    background-size: cover;
    padding: 30px;
    width: 60px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 15px;
    border-radius: 50;
}
.pic1 h4 p{
    text-align: justify;
}
.pic1{
    margin-top: 20px;
}
footer{
    background-color: aquamarine;
    padding: 30px;

}
footer h2{
   text-align: center;
   margin-bottom: 4px;
}
footer p{
    text-align: center;
}
