.logo{
    padding: 30px;
    background-image: url(imagecss/inwi.jpeg);
    width: 50px;
    height: 30px;
    background-size:contain;
    margin-right: 30px;
    border-radius: 50%;
}
.munu{
    display:flex;
    justify-content:s;
    align-items: center;
    background-color: rgb(174, 31, 202);
}
.a a{   
    text-decoration: none;
    color:white;
    margin-right: 30px;
}
h1{
    display: flex;
    justify-content: end;
    margin-left: 100px;
    color: rgb(19, 53, 121);
    margin-left: 30%;
}
body{
    background-image: url(imagecss/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.bor{
    border: 2px solid white;
    border-radius: 8px;
    padding: 15px;
    width: 555px;
   display: flex;
   flex-direction: column;
    gap: ;
   background-color: rgb(220, 193, 224);
   margin-left: 30%;
   background-image:linear-gradient(to right ,rgb(255, 0, 191),black
   );
}
.kolchii{display: flex;
    justify-content: center;
    align-items:center ;
    fl
}
