.pic1{
    background-image: url(imagecss/mesiii.jpg);
    background-size: cover;
    padding: 30px;
    width: 40px;
    height: 30px;
    margin-right: 30px;
}
.haidar1{
    display: flex;
    justify-content: start;
    align-items: center;
}
.haidar2{
    margin-top: 15px;
    background-color: rgb(42, 88, 227);
    height: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.a a{
    text-decoration: none;
    color: white;
    margin-right: 15px;
}
.tsawar2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pic2{
    background-image: url(imagecss/mesiii.jpg);
    padding: 30px;
    height:300px ;
    width: 300px;
    background-size: cover;
}
.pic3{
    background-image: url(imagecss/mesiii.jpg);
    padding: 30px;
    height:300px ;
    width: 300px;
}
.ppp{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.kolchi{
     padding: 30;
     background-color: rgb(65, 84, 120);
     height: 30px;
     display: flex;
     justify-content: end;
     align-items: center;
}
a{
    text-decoration: none;
    color: aliceblue;
    margin: 0 30px;
}




